[submodule "server/gps-track-server"]
	path = server/gps-track-server
	url = https://github.com/malancas-anamaria-niculina/gps-track-server.git
[submodule "mobile/mobilegpstrack"]
	path = mobile/mobilegpstrack
	url = https://github.com/malancas-anamaria-niculina/mobilegpstrack
[submodule "client/gps-track-frontend"]
	path = client/gps-track-frontend
	url = https://github.com/malancas-anamaria-niculina/gps-track-frontend.git
